@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #3c332f;
}

.searchDiv {
  display: flex;
}

.addMem{
  display: flex;
  flex-wrap: wrap;
}
 .teamMem{
  display: flex;
  flex-wrap: wrap;
 }

 #teams{
  justify-content: center;
 }
 .teamHead{
  margin: auto;
  color: aliceblue             ;
 }
.page-head{
  margin: auto !important;
}

.team-page{
  display: flex;
}
 .addTeamBtn{
  margin: auto;
 }
